.main_div {
  height: 100vh;
}

.App {
  text-align: center;
}

table,
th,
tr,
td {
  border: 1px solid black;
  padding: 4px;
}
.buttonTable a{
  margin: 0 10px;
}
.user-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name h4{
  margin-bottom: 0;
}
.buttonTable a {
  margin: 0 10px;
}
.contribution-person-block {
  min-width: 420px;
  max-width: 420px;
  text-transform: capitalize;
  border: 1px solid #444444;
  padding: 16px;
  border-radius: 16px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contribution-page {
  padding: 48px;
}
.bg-card{
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
  margin-top: -400px;
}
.contribution-page>div{
  padding: 20px 10px;
}
.contribution-share {
  margin-top: 8px;
  margin-bottom: 0;
}
.contribution-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contribution-share {
  background: #0dcaf0;
  font-weight: bold;
  border-radius: 12px;
  padding: 0 8px;
}
.contribution-send-email{
  width: 100px;
  border-radius: 16px;
  border: 1px solid;
  margin: 10px 6px;
}
.contribution-cancel-email{
  width: 60px;
  border-radius: 16px;
  border: 1px solid;
  margin: 10px 6px;
}
.contribution-email-input{
  border-radius: 4px;
  padding: 0 4px;
  margin-right: 10px;
  border: 1px solid;
}
